.App {
  text-align: center;
  display: flex;
  font-family: 'Lato', sans-serif;
  padding: 30px;
}

a {
  background-image: linear-gradient(
    to right,
    #55C57A,
    #55C57A 50%,
    #f7f7f7 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

a:before{
  content: '';
  background: #55C57A;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
 background-position: 0;
}

a:hover::before{
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  height: 80px;
  width: 100%;
  background-color: #444444;
  color: #f7f7f7;
  padding: 0 50px;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;



  .left-nav-links{
    display: flex;
    align-self: center;
    justify-content: space-between;
    gap: 30px;
    margin-right: auto;
  }

  .nav-logo{
    align-self: center;

    .logo{
      height: 35px;
      align-self: center;
      position: fixed; /* or absolute */
      top: 50px;
      left: 50%;
    }
  }

  .right-nav-links{
    display: flex;
    align-self: center;
    justify-content: space-between;
    gap: 30px;
    margin-left: auto;
  }
}







