body {
  font-family: 'Lato', sans-serif;
  color: #777;

  .App {
    text-align: center;
    display: flex;
    font-family: 'Lato', sans-serif;
    padding: 30px;
    min-height: 100vh;
    flex-direction: column;
    
    .main{
      background-color: #f7f7f7;
      padding: 80px 60px;
      flex: 1;
      position: relative;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

 @media (max-width:600px)  { 
  .App{
    padding: 0px !important;
    .main{
      padding: 30px 0 0 0 !important;
    }
  }
 }