nav {
  height: 80px;
  background-color: #444444;
  color: #f7f7f7;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;

  .header-links {
    display: flex;
    flex-direction: row;
    width: 100%;

    a {
      background-image: linear-gradient(
        to right,
        #55C57A,
        #55C57A 50%,
        #f7f7f7 50%
      );
      background-size: 200% 100%;
      background-position: -100%;
      display: inline-block;
      padding: 5px 0;
      position: relative;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;
    }
    
    a:before{
      content: '';
      background: #55C57A;
      display: block;
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 3px;
      transition: all 0.3s ease-in-out;
    }
    
    a:hover {
     background-position: 0;
    }
    
    a:hover::before{
      width: 100%;
    }

    .left-nav-links{
      display: flex;
      align-self: center;
      justify-content: space-between;
      gap: 30px;
      margin-right: auto;
    }
  
    .nav-logo{
      align-self: center;
  
      .logo{
        height: 35px;
        align-self: center;
        position: relative; /* or absolute */
        top: 0px;
        left: 50%;
      }
    }
  
    .right-nav-links{
      display: flex;
      align-self: center;
      justify-content: space-between;
      gap: 30px;
      margin-left: auto;
    }
  }


}


// @media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
// @media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { 
  #menuToggle.hamburger{
    display: none; 
  }
 }
 @media (max-width:600px)  { 
  .header-links {
    display: none !important;
  }
 }
// @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
// @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
// @media (min-width:1281px) { /* hi-res laptops and desktops */ }
  